.detailOutputsTable {
    .dropdown {
        position: absolute;
        top: 180px;
        left: 15px;
    }
    .dropdown-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }
    .table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    .table td,
    .table th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center !important;
    }
    .table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center !important;
        background-color: #bdc5c4c8;
    }
    .paginate {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .groupBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    .searchTable {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 30px;
        position: absolute;
        right: 10px;
        top: 80px;
    }
    .search {
        background-color: rgba(22, 24, 35, 0.06);
        width: 250px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1.5px solid transparent;
        border-radius: 8px;
        &:focus-within {
            border-color: rgba(22, 24, 35, 0.2);
        }
    }
    .searchInput {
        flex: 1;
        outline: none;
        border: none;
        line-height: 40px;
        padding-left: 10px;
        background-color: transparent;
    }
    .searchBtn {
        width: 50px;
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 1.8rem;
        color: rgba(22, 24, 35, 0.094);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        &:hover {
            cursor: pointer;
            background-color: rgba(22, 24, 35, 0.03);
        }
        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .columnHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 8px;
        .iconFilter {
            display: inline-block;
            cursor: pointer;
        }
    }
}